.button{
    max-width: 4em;
    margin: 2px;
}

.dropdown{
    max-width: 6em;
    min-width: 6em;
    width: 6em;
    padding: 2px;
}

.m2{
    max-width: 4em;
    min-width: 4em;
    width: 4em;

}

.m3{
    max-width: 5em;
    min-width: 5em;
    width: 5em;

}

.m4{
    max-width: 6em;
    min-width: 6em;
    width: 6em;
}