@font-face {
  font-family: 'Metal Mania';
  src: url(/orm/orm.woff2) format("woff2");
  unicode-range: U+002D, U+004D, U+004F, U+0052, U+0061, U+0065, U+006E, U+0070, U+0078;
}

:root{
  --higlight-col:rgba(255, 165, 0, 0.9);
  --higlight:0 0 10px var(--higlight-col);
  --snake-col:#bed04a;
}


html {
  overflow-y: scroll;
  font-size: 16px;
}

body {
  background-color: #23373a;
}

.metal-mania-regular {
  font-family: "Metal Mania";
  font-weight: 400;
  font-style: normal;
}

.oswald-regular {
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

::selection{
  background-color: var(--higlight-col);
  color: white;
}

#calculators{
  min-width: 100%;
  min-height: 100%;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

#calculator {
    font-family: "Oswald";
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    margin: 16px;
    width: 100%;
    max-width: 768px;
    min-width: 368px;
}

h1 {
  font-size: 3.125rem;
}

.snake-col.btn-primary{
  background-color: var(--snake-col);
  border-color: var(--snake-col);
  color: black;
}

.snake-col.btn-primary:hover {
  background-color: #a4c837;
  border-color: #a4c837;
  color: black;
}

.snake-col.btn-primary.active,
.snake-col.btn-primary:active {
  background-color: #8b9e2d;
  border-color: #8b9e2d;
  color: black;
}

.snake-col.btn-primary:active:focus-visible,
.snake-col.btn-primary:focus-visible,
.snake-col.btn-primary:focus {
  box-shadow: 0 0 0 4px rgba(190, 208, 74, 0.5);
  outline: none;
}

b {
    color: var(--snake-col); 
}

#weight{
  border-width: 2px;
  width: 10rem;
}

#reps{
  border-width: 2px;
  width: 7rem;
}

.invalid-feedback {
  display: block; 
  visibility: hidden;
}

.is-invalid ~ .invalid-feedback {
  visibility: visible;
}

#orm-auto{
  --bs-tooltip-bg: var(--snake-col); 
  --bs-tooltip-color: black;
  font-weight: bold;
  font-family: "Oswald", sans-serif;
}
/*
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-transform: scale(1.0); 
    transform: scale(1.0);
    
}
*/

/* Range slider */

.range-wrapper {
  position: relative;

  --range-width: 10.625rem;
  --tick-dim: 1.5rem;
  --tick-dim-half: calc(var(--tick-dim)/2);
  --thumb-dim: 1rem;
  --thumb-dim-half: calc(var(--thumb-dim)/2);

  width: var(--range-width);
}

.range-wrapper datalist {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  writing-mode: vertical-lr;
  --datalist-font: 1rem;
  font-size: var(--datalist-font);
  width: calc(var(--range-width) + var(--tick-dim-half) - var(--datalist-font)/4);
  left: calc(var(--datalist-font)/2 - var(--tick-dim-half));
}

.range-wrapper datalist span {
  padding: 0;
}

.track-markers {
  position: absolute;
  top: 0px;
  left: calc(var(--thumb-dim-half) - var(--tick-dim-half));
  right: calc(var(--thumb-dim-half) - var(--tick-dim-half));

  display: flex;
  justify-content: space-between;

  pointer-events: none;
}

.track-node {
  width: calc(var(--tick-dim));
  height: calc(var(--tick-dim));

  background: #343a40;
  border-radius: 50%;
  border-top-left-radius: 10%;
  border-bottom-right-radius: 10%;
}

.form-control:focus {
  border: 2px solid #d46f2e;
  box-shadow: var(--higlight);
}

input[type="range"]::-webkit-slider-thumb {

  box-sizing: border-box;
  width: var(--thumb-dim);
  height: var(--thumb-dim);

  background: radial-gradient(circle, #ffbb33 0%, #f5a623 50%, #ff5733 100%);
  border: 2px solid #d46f2e;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);

  transform: rotate(45deg);

  background-image:
    radial-gradient(ellipse at 50% 31%, black 0% 25%, transparent 26%),
    radial-gradient(ellipse at 50% 69%, black 0% 25%, transparent 26%),
    radial-gradient(ellipse at 50% 50%, black 0% 25%, transparent 42%),
    
    radial-gradient(circle at 50% 50%,
      #f7d474 0%,
      #e6b739 30%,
      #d4931a 55%,
      #b76f0d 70%,
      #8a5004 100%
    );
}

input[type="range"]::-moz-range-thumb {

  box-sizing: border-box;
  width: var(--thumb-dim);
  height: var(--thumb-dim);
  background: radial-gradient(circle, #ffbb33 0%, #f5a623 50%, #ff5733 100%);
  border: 2px solid #d46f2e;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);

  transform: rotate(45deg);

  background-image:
    radial-gradient(ellipse at 50% 31%, black 0% 25%, transparent 26%),
    radial-gradient(ellipse at 50% 69%, black 0% 25%, transparent 26%),
    radial-gradient(ellipse at 50% 50%, black 0% 25%, transparent 42%),
    
    radial-gradient(circle at 50% 50%,
      #f7d474 0%,
      #e6b739 30%,
      #d4931a 55%,
      #b76f0d 70%,
      #8a5004 100%
    );
}

input[type="range"]:focus::-webkit-slider-thumb {
  box-shadow: var(--higlight);
}

input[type="range"]::-webkit-slider-thumb:active {
  border: 2px solid #ff6347;
  box-shadow: var(--higlight);
}

input[type="range"]:focus::-moz-range-thumb {
 
  box-shadow: var(--higlight); 
}

input[type="range"]::-moz-range-thumb:active {
  border: 2px solid #ff6347;
  box-shadow: var(--higlight);
}

