@font-face {
  font-family: 'Metal Mania';
  src: url(/orm/orm.woff2) format("woff2");
  unicode-range: U+002D, U+004D, U+004F, U+0052, U+0061, U+0065, U+006E, U+0070, U+0078;
}

@font-face {
    font-family: 'Oswald';
    src: url(/orm/oswald.woff2) format('woff2');
    font-weight: normal;
    font-style: normal;
}

:root {
  --higlight-col: rgba(255, 165, 0, 0.9);
  --higlight: 0 0 10px var(--higlight-col);
  --snake-col: #bed04a;
}


html {
  overflow-y: scroll;
  font-size: 16px;
}

body {
  background-color: #23373a;
}

.metal-mania-regular {
  font-family: "Metal Mania";
  font-weight: 400;
  font-style: normal;
}

.oswald-regular {
  font-family: "Oswald";
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

::selection {
  background-color: var(--higlight-col);
  color: white;
}

#calculators {
  min-width: 100%;
  min-height: 100%;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}