h1 {
  font-size: 3.125rem;
}

b {
    color: var(--snake-col); 
}

#calculator {
    font-family: "Oswald";
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    margin: 16px;
    width: 100%;
    max-width: 768px;
    min-width: 368px;
}