
/* Range slider */

.range-wrapper {
  position: relative;

  --range-width: 10.625rem;
  --tick-dim: 1.5rem;
  --tick-dim-half: calc(var(--tick-dim)/2);
  --thumb-dim: 1rem;
  --thumb-dim-half: calc(var(--thumb-dim)/2);

  width: var(--range-width);
  left: calc(var(--tick-dim-half) - var(--thumb-dim-half));
}

.range-wrapper datalist {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  writing-mode: vertical-lr;
  font-size: 1rem;

  width: calc(var(--range-width) + var(--tick-dim) - var(--thumb-dim));
  left: calc(var(--thumb-dim-half) - var(--tick-dim-half));
}

.range-wrapper datalist span {
  padding: 0;
}

.track-markers {
  position: absolute;
  top: 0px;
  left: calc(var(--thumb-dim-half) - var(--tick-dim-half));
  right: calc(var(--thumb-dim-half) - var(--tick-dim-half));

  display: flex;
  justify-content: space-between;

  pointer-events: none;
}

.track-node {
  width: calc(var(--tick-dim));
  height: calc(var(--tick-dim));

  background: #343a40;
  border-radius: 50%;
  border-top-left-radius: 10%;
  border-bottom-right-radius: 10%;
}

input[type="range"]::-webkit-slider-thumb {

  box-sizing: border-box;
  width: var(--thumb-dim);
  height: var(--thumb-dim);

  background: radial-gradient(circle, #ffbb33 0%, #f5a623 50%, #ff5733 100%);
  border: 2px solid #d46f2e;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);

  transform: rotate(45deg);

  background-image:
    radial-gradient(ellipse at 50% 31%, black 0% 25%, transparent 26%),
    radial-gradient(ellipse at 50% 69%, black 0% 25%, transparent 26%),
    radial-gradient(ellipse at 50% 50%, black 0% 25%, transparent 42%),
    
    radial-gradient(circle at 50% 50%,
      #f7d474 0%,
      #e6b739 30%,
      #d4931a 55%,
      #b76f0d 70%,
      #8a5004 100%
    );
}

input[type="range"]::-moz-range-thumb {

  box-sizing: border-box;
  width: var(--thumb-dim);
  height: var(--thumb-dim);
  background: radial-gradient(circle, #ffbb33 0%, #f5a623 50%, #ff5733 100%);
  border: 2px solid #d46f2e;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);

  transform: rotate(45deg);

  background-image:
    radial-gradient(ellipse at 50% 31%, black 0% 25%, transparent 26%),
    radial-gradient(ellipse at 50% 69%, black 0% 25%, transparent 26%),
    radial-gradient(ellipse at 50% 50%, black 0% 25%, transparent 42%),
    
    radial-gradient(circle at 50% 50%,
      #f7d474 0%,
      #e6b739 30%,
      #d4931a 55%,
      #b76f0d 70%,
      #8a5004 100%
    );
}

input[type="range"]:focus::-webkit-slider-thumb {
  box-shadow: var(--higlight);
}

input[type="range"]::-webkit-slider-thumb:active {
  border: 2px solid #ff6347;
  box-shadow: var(--higlight);
}

input[type="range"]:focus::-moz-range-thumb {
 
  box-shadow: var(--higlight); 
}

input[type="range"]::-moz-range-thumb:active {
  border: 2px solid #ff6347;
  box-shadow: var(--higlight);
}
