/*Button*/
.snake-col.btn-primary {
  background-color: var(--snake-col);
  border-color: var(--snake-col);
  color: black;
}

.snake-col.btn-primary:hover {
  background-color: #a4c837;
  border-color: #a4c837;
  color: black;
}

.snake-col.btn-primary.active,
.snake-col.btn-primary:active {
  background-color: #8b9e2d;
  border-color: #8b9e2d;
  color: black;
}

.snake-col.btn-primary:active:focus-visible,
.snake-col.btn-primary:focus-visible,
.snake-col.btn-primary:focus {
  box-shadow: 0 0 0 4px rgba(190, 208, 74, 0.5);
  outline: none;
}

/*Form*/
#orm-auto {
  --bs-tooltip-bg: var(--snake-col);
  --bs-tooltip-color: black;
  font-weight: bold;
  font-family: "Oswald", sans-serif;
}

.form-control:focus {
  border: 2px solid #d46f2e;
  box-shadow: var(--higlight);
}

#weight {
  border-width: 2px;
  width: 10rem;
}

#reps {
  border-width: 2px;
  width: 7rem;
}

.invalid-feedback {
  display: block;
  visibility: hidden;
}

.is-invalid~.invalid-feedback {
  visibility: visible;
}