:root{
  --alpha: 0.5;
}

.helloCard{

  margin-left: 10%;
  --bs-bg-opacity: var(--alpha);
}

.foreground {
  position: absolute;
  left:0;
  top: 0;
  z-index:1;
  height: 50%;
  width: 100%;

}

.zoomButton {
  position: absolute;
  right:   12pt;
  bottom:   12pt;
  z-index: 2;
  opacity: var(--alpha);
}

.jump {
    --fa-animation-iteration-count: 2;
    --fa-animation-delay : 2s;
}

.txt{
  font-size: 14pt;
}