
.button{
    max-width: 4em;
    margin: 2px;
}

.dropdown{
    max-width: 6em;
    min-width: 6em;
    width: 6em;
    padding: 2px;
}

.m2{
    max-width: 4em;
    min-width: 4em;
    width: 4em;

}

.m3{
    max-width: 5em;
    min-width: 5em;
    width: 5em;

}

.m4{
    max-width: 6em;
    min-width: 6em;
    width: 6em;

}

.resulat{
    font-weight: bold;
}

.doughnut{
   max-height: 230px;
   min-height: 230px;
}

.chart{
    aspect-ratio: 1/1;
    
}

@media screen and (min-width:576px) {
    .chart{
        aspect-ratio: auto;
        min-height: 300px;
        max-height: 380px;
    }

}

